# Entornos virtuales
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Django
*.sqlite3
*.sqlite3-journal
/staticfiles/
/media/
db.sqlite3

# Entorno / secretos
.env
.env.*
!.env.example

# Editores y SO
.vscode/
.idea/
*.swp
.DS_Store

# Herramientas
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
